# Secrets and env
*.secrets
*.env
*_env

# Cache
__pycache__/
*cache
*_test

# Notebook artifacts
*.ipynb_checkpoints
*.ipynb

# MLFlow artifacts
*mlruns

# Notebook artifacts
*.ipynb_checkpoints
*.ipynb
